body {
  background: linear-gradient(77deg, #8360c3, #2ebf91);
}
#container {
  background: linear-gradient(77deg, #c33764, #1d2671);
  height: 300px;
  width: 750px;
  margin: auto;
  text-align: center;
  padding: 40px;
}
p {
  color: white;
  font-size: 25px;
}
#btn {
  margin-left: 15px;
  padding: 5px 25px;
}
input {
  padding: 5px 25px;
  margin-top: 10px;
}
